@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center
  }
}

@layer components {
  .clue {
    @apply rounded-sm cursor-pointer overflow-y-auto
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clue {
  perspective: 1000px;
}

.content {
  position: absolute;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.face {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.two {
  transform: rotateY(180deg);
}

.flip {
  transform: rotateY(180deg);
}

#app {
  display: grid;
  grid-template:
    "navbar "
    "game   "
  ;
  grid-template-rows: 4rem;
  grid-gap: 1rem;
}

#game {
  grid-area: game;
}

#navbar {
  grid-area: navbar;
}

#clueTable {
  flex-grow: 1;
  display: grid;
  grid-gap: 10px;
  grid-template:
    "title    title     title   "
    "poster   year      rating  "
    "poster   director  writer  "
    "quote    quote     quote   "
    "actor    actor     actor   "
  ;
  grid-template-rows: 7rem 8rem 11rem 10rem 18rem;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 700px) {
  #clueTable {
    flex-grow: 1;
    display: grid;
    grid-gap: 10px;
    grid-template:
      "title    title   "
      "poster   poster  "
      "year     rating  "
      "director writer  "
      "quote    quote   "
      "actor    actor   "
      "actor    actor   "
    ;
    grid-template-rows: 7rem 38rem 7rem 7rem 10rem 19rem 19rem;
    grid-template-columns: repeat(2, 1fr);
  }

}



#clueTable>div>div {
  overflow: hidden;
  min-width: 0;
}

.title {
  grid-area: title;
}

.poster {
  grid-area: poster;
}

.year {
  grid-area: year;
}

.rating {
  grid-area: rating;
}

.director {
  grid-area: director;
}

.writer {
  grid-area: writer;
}

.quote {
  grid-area: quote;
}

.actor {
  grid-template-columns: span 1;
}