@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --clue-gray: theme("colors.zinc[600]");
    --clue-yellow: #c9b458;
    --clue-green: #6aaa64;

    --text-col: theme("colors.slate[50]");
  }

  .og {
    --primary-600: theme("colors.slate[600]");
    --primary-700: theme("colors.slate[700]");
    --primary-800: theme("colors.slate[800]");
    --primary-900: theme("colors.slate[900]");

    --clue-gray: theme("colors.slate[600]");

  }

  .dark {
    --primary-600: theme("colors.neutral[600]");
    --primary-700: theme("colors.neutral[700]");
    --primary-800: theme("colors.neutral[800]");
    --primary-900: theme("colors.neutral[900]");
  }

  .light {
    --primary-600: theme("colors.slate[300]");
    --primary-700: theme("colors.slate[200]");
    --primary-800: theme("colors.slate[100]");
    --primary-900: theme("colors.slate[50]");

    --text-col: theme("colors.slate[900]");
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center
  }

  .full {
    @apply h-full w-full
  }
}

@layer components {
  .clue {
    @apply rounded-[1.2vh] cursor-pointer overflow-y-auto
  }

  .label {
    @apply bg-black/40 w-full text-[1.5vh] flex-center
  }
}

.content>div>div {
  border-radius: 1.2vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clue {
  perspective: 1000px;
}

.content {
  position: absolute;
  transition-property: transform;
  transform-style: preserve-3d;
}

.face {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.two {
  transform: rotateY(180deg);
}

.flip {
  transform: rotateY(180deg);
}

@keyframes slideIn {
  0% {
    transform: translateY(10em);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(10em);
    opacity: 0;
  }
}

@keyframes slideInBG {
  0% {
    background-color: rgba(0 0 0 / 0);
  }

  100% {
    background-color: rgb(0 0 0 / 0.5);
  }
}

@keyframes slideOutBG {
  0% {
    background-color: rgb(0 0 0 / 0.5);
  }

  100% {
    background-color: rgb(0 0 0 / 0);
  }
}

#modal {
  animation: slideIn 200ms;
}

#modal.closing {
  animation: slideOut 200ms !important;
}

#modalBG {
  animation: slideInBG 200ms;
}

#modalBG.closing {
  animation: slideOutBG 200ms !important;
}

@keyframes slideInNT {
  0% {
    transform: translateY(-5em);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutNT {
  0% {
    transform: translateY(0em);
    opacity: 1;
  }

  100% {
    transform: translateY(5em);
    opacity: 0;
  }
}



.notification {
  animation: slideInNT 100ms ease 0s, slideOutNT 100ms ease 1500ms;
  animation-fill-mode: forwards;
}

.notification.closing {
  animation: slideOutNT 100ms !important;
}

@keyframes pointCostBGIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pointCostBGOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.close-button {
  transition: transform 200ms ease-in-out;
}

.close-button:hover {
  transform: scale(1.1);
}


.pointCostShow {
  opacity: 1;
  animation: pointCostBGIn 50ms ease forwards;
}

.pointCostHide {
  opacity: 0;
  animation: pointCostBGOut 50ms ease forwards;
}

#app {
  display: grid;
  grid-template:
    "navbar "
    "game   "
  ;
  grid-template-rows: 3.5vh 1fr;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

#game {
  grid-area: game;
}

#navbar {
  grid-area: navbar;
}

#clueTable {
  display: grid;
  grid-gap: 1.2vh;
  grid-template:
    "title    title     title   "
    "poster   year      rating  "
    "poster   director  budget  "
    "quote    quote     quote   "
    "actor    actor     actor   "
  ;
  grid-template-rows: 7fr 8fr 11fr 10fr 18fr;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 700px) {
  #clueTable {
    flex-grow: 1;
    display: grid;
    grid-gap: 10px;
    grid-template:
      "title    title   "
      "poster   poster  "
      "year     rating  "
      "director budget  "
      "quote    quote   "
      "actor    actor   "
      "actor    actor   "
    ;
    grid-template-rows: 7rem 38rem 7rem 10rem 10rem 19rem 19rem;
    grid-template-columns: repeat(2, 1fr);
  }

  #game {
    aspect-ratio: initial;
    width: 100%;
    margin: initial;
  }

}

#clueTable>div>div {
  min-width: 0;
}

.title {
  grid-area: title;
}

.poster {
  grid-area: poster;
}

.year {
  grid-area: year;
}

.rating {
  grid-area: rating;
}

.director {
  grid-area: director;
}

.writer {
  grid-area: writer;
}

.budget {
  grid-area: budget;
}

.quote {
  grid-area: quote;
}

.actor {
  grid-template-columns: span 1;
}